1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [2]:
a=[]
for i in range (1,101):
    if i%15==0:
        a.append("HelloWorld")
    elif i%3==0:
        a.append("Hello")
    elif i%5==0:
        a.append("World")
    else:
        a.append(str(i))
print(a)
for i in range(0,len(a)):
    a[i]=a[i].replace("Hello","Phyton")
    a[i]=a[i].replace("World","Works")
b=tuple(a)   
print(b)

['1', '2', 'Hello', '4', 'World', 'Hello', '7', '8', 'Hello', 'World', '11', 'Hello', '13', '14', 'HelloWorld', '16', '17', 'Hello', '19', 'World', 'Hello', '22', '23', 'Hello', 'World', '26', 'Hello', '28', '29', 'HelloWorld', '31', '32', 'Hello', '34', 'World', 'Hello', '37', '38', 'Hello', 'World', '41', 'Hello', '43', '44', 'HelloWorld', '46', '47', 'Hello', '49', 'World', 'Hello', '52', '53', 'Hello', 'World', '56', 'Hello', '58', '59', 'HelloWorld', '61', '62', 'Hello', '64', 'World', 'Hello', '67', '68', 'Hello', 'World', '71', 'Hello', '73', '74', 'HelloWorld', '76', '77', 'Hello', '79', 'World', 'Hello', '82', '83', 'Hello', 'World', '86', 'Hello', '88', '89', 'HelloWorld', '91', '92', 'Hello', '94', 'World', 'Hello', '97', '98', 'Hello', 'World']
('1', '2', 'Phyton', '4', 'Works', 'Phyton', '7', '8', 'Phyton', 'Works', '11', 'Phyton', '13', '14', 'PhytonWorks', '16', '17', 'Phyton', '19', 'Works', 'Phyton', '22', '23', 'Phyton', 'Works', '26', 'Phyton', '28', '29', 'PhytonWorks', '31', '32', 'Phyton', '34', 'Works', 'Phyton', '37', '38', 'Phyton', 'Works', '41', 'Phyton', '43', '44', 'PhytonWorks', '46', '47', 'Phyton', '49', 'Works', 'Phyton', '52', '53', 'Phyton', 'Works', '56', 'Phyton', '58', '59', 'PhytonWorks', '61', '62', 'Phyton', '64', 'Works', 'Phyton', '67', '68', 'Phyton', 'Works', '71', 'Phyton', '73', '74', 'PhytonWorks', '76', '77', 'Phyton', '79', 'Works', 'Phyton', '82', '83', 'Phyton', 'Works', '86', 'Phyton', '88', '89', 'PhytonWorks', '91', '92', 'Phyton', '94', 'Works', 'Phyton', '97', '98', 'Phyton', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
def my_swap(a,b):
    temp=a
    a=b
    b=temp
    return a,b

x=3
y='s'
print(my_swap(x,y))
x,y = y,x
print(x,y)

('s', 3)
s 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [8]:
def my_distance(u,v):
    return ((u[0]-v[0])**2 + (u[1]-v[1])**2)**0.5 
a=(3,0)
b=(0,4)
print(my_distance(a,b))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [9]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s=s.upper()
print(s)
x = input("which character do you want to count? ")
print(s.count(x.upper()))

WRITE A PROGRAM THAT PRINTS THE NUMBERS FROM 1 TO 100. BUT FOR MULTIPLES OF THREE PRINT HELLO INSTEAD OF THE NUMBER AND FOR THE MULTIPLES OF FIVE PRINT WORLD. FOR NUMBERS WHICH ARE MULTIPLES OF BOTH THREE AND FIVE PRINT HELLOWORLD.
which character do you want to count? n
10

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
l.sort()
unique = [l[0]]
for i in range (1,len(l)):
    if (l[i]!=l[i-1]):
        unique.append(l[i])
print(unique)
print("the unique number are: ",len(unique))

[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
the unique number are:  54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [11]:
unique2 = set(l)
print(unique2)
print("the unique number are: ",len(unique2))

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
the unique number are:  54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [12]:
def square(a):
    return a**2
def cube(a):
    return a**3
def power6(a):
    return square(cube(a))

print(square(2))
print(cube(2))
print(power6(3))

4
8
729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [13]:
cube=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in cube:
    cube[i]=cube[i]**3
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [14]:
cube2=[i**3 for i in range(0,11)]
print(cube2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [15]:
pythagorean_triple = [[x,y,z] for x in range(1,100) for y in range(1,100) for z in range(1,100)
                      if x**2 + y**2 == z**2 and z>y>x]
print(pythagorean_triple)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [16]:
def my_normalization(t):
    return tuple(i/sum(t) for i in t)
tupla=(3,3,6,8)
print(my_normalization(tupla))

(0.15, 0.15, 0.3, 0.4)